/*-------------  Desktop  ------------*/

body{
	background-color: hsl(233, 47%, 7%);
	height: 100vh;
	display: flex;
	align-items: center;
	font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Noto Sans', sans-serif;

}

.Card{
	background-color: hsl(244, 38%, 16%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1500px ;
	height: 550px;
	margin: 0 auto;
	border-radius: 10px;
}

.card-about{
	margin: 70px 0 0 80px;

}

h1{
	color: white;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 700;
}

.insights {
	color: hsl(277, 64%, 61%);
	font-weight: 700;
	letter-spacing: 1px;

}

.pink{
	background-color: hsl(277, 64%, 61%);
	border-radius: 10px;
	/*width: 700px;
	height: ;*/
}

img{
	border-radius: 0 10px 10px 0;
	width: 700px;
	height: 550px;
	opacity: 0.6;
	filter: grayscale(50%);
}